*{
    margin: 0;
    padding: 0;  
}

header{
    background-color: cornflowerblue;
    position: fixed;
    left: 0; /*pour le coller à gauche */
    top: 0; /*pour le coller en haut */
    width: 100%;
    height: 8vh;
    color: wheat;
    padding: 0 2em;
}

nav{
    width: 100%; /* de son parent */
    height: 100%; /* de son parent */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    display: none; /* Pour cacher les boutons prévu en format mobile*/

}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 1000px;
}
.menu li a{
    margin-right: 50px;
    color: white;
    text-decoration: none;
}
.menu li a:hover{
    transition: 0.2s ease-in-out;
    padding: 4px;
    background-color: coral;
    border-radius: 10%;
}

.btn.btn-primary{
    margin-right: 20px;
    background: transparent;
    border: 2px solid pink;
}

/***********************SECTION*********************************/

.hero{
    height: 100vh; /*Pour permettre l'affichage de l'image*/
    background: url(../IMAGES/drop-6509617.jpg) fixed;
    background-size: cover;
    background-position: center;
    margin-top: 4%;
}
/**********************PARTIE MOBILE********************/

@media all and (max-width: 992px){
    header{
        background: #333;
        
    }
    .toggle{
        display: block; /*on le rend visible*/
        font-size: 1rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }
    .logo{
        position: relative;
        z-index: 20;
    }

    .ouvrir{
        display: block;
    }
    .fermer{
        display: none;
    }

    .open .ouvrir{
        display: none;
    }
    .open .fermer{
        display: block;
    }

    .menu{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #333;
	    opacity: 0.9;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s ease-in-out;
    }
    .menu li a{
        font-size: 2rem;
    }
    .menu li a:hover{
        transition: 0.2s ease-in-out;
        padding: 4px;
        background-color: coral;
        border-radius: 10%;
    }
    
    .btn.btn-primary{
        font-size: 2rem;
    }

    .open .menu{
        transform: translateX(0%);
    }
}